.error {
  background: #FF7373;
}

label.error {
  color: #800027;
  background-color: rgba(128, 0, 33, 0.27) !important;
}

label.error:before {
  content: '\a ';
  white-space: pre;
}

label.error:after {
  content: ' ';
  white-space: pre;
}

.book {
  font-family: Garamond, sans-serif;
  line-height: 1.43;
  font-size: 12.5pt;
  width: 26.1em;
  text-indent: 0.95em;
  -webkit-hyphens: auto;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 0.05em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display: inline;
}