/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
html, body {
    height: 100%;
    margin: 0;
}

.main-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}

.main-header {
    display: table-row;
}

.main-content {
    display: table-row;
    height: 100%;
}

.main-footer {
    display: table-row;
}

@font-face {
    font-family: 'custom';
    src:url('fonts/custom.eot?4g2sv4');
    src:url('fonts/custom.eot?4g2sv4#iefix') format('embedded-opentype'),
    url('fonts/custom.ttf?4g2sv4') format('truetype'),
    url('fonts/custom.woff?4g2sv4') format('woff'),
    url('fonts/custom.svg?4g2sv4#custom') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    font-family: 'custom';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-butterfly:before {
    content: "\e800";
}

.middle-aligned-td {
    display: table-cell !important;
    vertical-align: middle !important;
}
