<template name="Footer">
  <div class="ui inverted vertical footer segment">
    <div class="ui padded basic segment">
      <div class="ui stackable grid container">
        <div class="row">
          <div class="five wide column"></div>
          <div class="six wide center aligned middle aligned column">
            <a href="http://facebook.com/collabowrite" target="_blank">
              <button class="ui massive vertical-padded circular facebook icon button">
                <i class="facebook icon"></i>
              </button>
            </a>
            <a href="https://twitter.com/collabowriter" target="_blank">
              <button class="ui massive vertical-padded circular twitter icon button">
                <i class="twitter icon"></i>
              </button>
            </a>
            <a href="https://github.com/freedmand/collabowrite" target="_blank">
              <button class="ui massive vertical-padded circular github icon button">
                <i class="github icon"></i>
              </button>
            </a>
            <a href="mailto:dylan@collabowrite.io" target="_blank">
              <button class="ui massive vertical-padded circular red icon button">
                <i class="mail icon"></i>
              </button>
            </a></div>

          <div class="five wide center aligned middle aligned column">
            <p>Collabowrite &copy; 2015</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
