<template name="AccountModals">
  <!--<div id="forgot-password-modal" class="ui small basic modal">-->
    <!--<i class="grey close icon"></i>-->
    <!--<div class="header">-->
      <!--<a class="login-back" href="#">-->
        <!--<i class="left chevron icon"></i>-->
        <!--Login-->
      <!--</a>-->
    <!--</div>-->
    <!--<div class="content">-->
      <!--<div class="ui center aligned container">-->
        <!--<i class="huge icons">-->
          <!--<i class="blue lock icon"></i>-->
          <!--<i class="corner inverted help circle icon"></i>-->
        <!--</i>-->
        <!--<h3 class="ui black header">Reset your password.</h3>-->
        <!--<div class="ui padded basic segment">-->
          <!--<div class="ui large form">-->
            <!--<div class="fields">-->
              <!--<div class="four wide field"></div>-->
              <!--<div class="eight wide field">-->
                <!--<div class="ui inverted large left icon input">-->
                  <!--<input name="email-reset" type="email" placeholder="Email address">-->
                  <!--<i class="mail icon"></i>-->
                <!--</div>-->
                <!--<div id="reset-no-email-prompt" class="ui basic negative message label" style="display: none;">-->
                  <!--<h5>No account is associated with this email</h5>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="fields">-->
              <!--<div class="four wide field"></div>-->
              <!--<div class="eight wide field">-->
                <!--<div class="ui inverted divider"></div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="fields">-->
              <!--<div class="four wide field"></div>-->
              <!--<div class="eight wide field">-->
                <!--<div id="send-reset" class="ui fluid big primary submit button">-->
                  <!--Send Reset Instructions-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="four wide field"></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div id="create-modal" class="ui small basic modal">
    <i class="grey close icon"></i>

    <div class="content">
      <div class="ui center aligned container">
        <i class="huge grey write square icon"></i>
        <i class="huge grey comment icon"></i>
        <i class="huge grey thumbs up icon"></i>
        <h3 class="ui black header">Create an account to write pages and vote.</h3>
        <div class="ui padded basic segment">
          <div class="ui large form">
            <!--<div class="fields">-->
              <!--<div class="four wide field"></div><div class="eight wide field">-->
              <!--<button class="ui fluid right icon facebook button social-button">-->
                <!--Connect with Facebook-->
                <!--<i class="facebook icon"></i>-->
              <!--</button>-->
              <!--<button class="ui fluid right icon google plus button">-->
                <!--Connect with Google-->
                <!--<i class="google icon"></i>-->
              <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="ui horizontal divider">OR CONNECT WITH EMAIL</div>-->
            <div class="fields">
              <div class="four wide field"></div>
              <div class="eight wide field">
                <div class="ui inverted large left icon input">
                  <input name="email" type="email" placeholder="Email address">
                  <i class="mail icon"></i>
                </div>
                <div id='password-container' class="ui inverted large left icon input">
                  <input name="password" type="password" placeholder="Password">
                  <i class="lock icon"></i>
                </div>
                <div id="password-progress" class="ui tiny bottom attached indicating progress active" style="display: none;">
                  <div class="bar" style="transition-duration: 300ms; width: 100%;"></div>
                </div>
                <!--<div id="forgot-fields" style="display: none;">-->
                  <!--<a id="forgot-password-link" href="#">Forgot password?</a>-->
                <!--</div>-->
              </div>
            </div>
            <div class="ui error message"></div>
            <div class="fields">
              <div class="two wide field"></div>
              <div class="six wide field">
                <div id="log-in" class="ui fluid large grey submit button">
                  <i class="sign in icon"></i>
                  Log in
                </div>
              </div>
              <div class="six wide field">
                <div id="create-account" class="ui fluid large primary submit button">
                  <i class="add user icon"></i>
                  Sign up
                </div>
              </div>
            </div>
            <div class="error-messages" style="display: none;">
              <div id="unknown-error" class="ui negative message">
                <i class="close icon"></i>
                An unknown error occurred. Please try again.
              </div>
              <div id="combo-error" class="ui negative message">
                <i class="close icon"></i>
                The email and password combination are incorrect. Please try again.
              </div>
              <div id="registered-error" class="ui info message">
                <i class="close icon"></i>
                That email address is already registered. Try logging in instead.
              </div>
            </div>
            <div class="ui message error-message" style="display: none;">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="verify-modal" class="ui small basic modal">
    <i class="grey close icon"></i>

    <div class="content">
      <div class="ui center aligned container">
        <i class="huge blue send icon"></i>
        <h3 class="ui black header"></h3>
        <h4 class="ui grey header">
          You should receive it soon. Click on the link in the email to finish creating your account.
        </h4>
        <div class="ui padded basic segment">
          <div id="resend-button" class="ui primary large button">
            <div id="resend-text">
              Resend Email
            </div>
            <div id="resend-loader" class="ui small text loader"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="moniker-modal" class="ui small basic modal">
    <i class="grey close icon"></i>
    <div class="ui center aligned container">
      <div class="ui very padded basic segment">
        <h2 class="ui blue header">Final step!</h2>
        <h3 class="ui black header">
          Choose a secret author name so no one will know your true identity.
          <div class="sub header">
            This name will show up next to all your submissions and comments.
          </div>
        </h3>
        <div class="ui basic segment">
          <div class="ui large form">
            <div class="fields">
              <div class="sixteen wide field">
                <div class="ui inverted large left icon input">
                  <input id="moniker-field" name="moniker" type="text" placeholder="Secret identity">
                  <i class="spy icon"></i>
                </div>
                <div id="moniker-error-prompt" class="ui basic negative message label" style="display: none;">
                  <h5></h5>
                </div>
              </div>
            </div>
            <div class="ui accordion field">
              <div class="title active">
                <i class="icon dropdown"></i>
                <span id="suggestions-moniker-text">Suggestions</span>
                <div class="ui mini active inline loader suggestions-loader"></div>
                <i class="no-display suggestions-refresh refresh icon"></i>
              </div>
              <div class="content active">
                {{#each monikers}}
                  <button onclick="setMonikerField(this)" class="ui moniker-button small grey slightly-padded button">{{this}}</button>
                {{/each}}
              </div>
              <div class="ui divider"></div>
              <button id="moniker-submit" class="ui fluid primary large right labeled icon submit button">
                All done, let&rsquo;s go!
                <i class="check icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

