<template name="Header">
  <div class="ui secondary pointing menu">
    <a class="item" href="{{pathFor route='login'}}">Login</a>
    <a class="item" href="{{pathFor route='signup'}}">Signup</a>
  </div>
  <!--<div class="ui secondary pointing menu">-->
    <!--<a class="active item" href="{{pathFor route='home'}}">Home</a>-->
    <!--{{#if currentUser}}-->
      <!--<a class="item" href="#">Logout</a>-->
    <!--{{else}}-->
      <!--<a class="item" id="register_link" href="{{pathFor route='register'}}">Register</a>-->
      <!--<a class="item" id="login_link" href="{{pathFor route='login'}}">Login</a>-->
    <!--{{/if}}-->
    <!--<a class="item" id="primary_book_link" href="{{pathFor route='primary'}}">Primary Book</a>-->
    <!--<a class="item" id="other_book_link" href="{{pathFor route='other'}}">Other Book</a>-->
  <!--</div>-->
</template>
